.SideNav{
    display: flex;
    flex-direction: column;
    border-right: 1px var(--borderColor) solid;
    width: 150px;
}

.SideNav h2{
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 20px 0;
    opacity: .4;
}
.SideNav li{
    padding: 5px;
    padding-left: 30px;
    transition: .25s;
}
.SideNav li:hover{
    background-color: var(--borderColor);
    color:var(--secundairColor);
}
.SideNav .backBtn{
    cursor: pointer;
    padding: 5px 0;
    border: solid var(--borderColor) 2px;
    border-right: none;
    margin: 20px;
    margin-right: 0;
    text-align: center;
    border-radius: 10px 0 0 10px;
}