.Result{
    display: flex;
    padding: 5px;
    border: solid var(--borderColor) 1px;
    border-top: none;
}
.Result svg{
    margin: 8px;
    width: 50px;
}
.content{
    font-size: .9em;
    max-width: 80%;
}
.content p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.meta{
    color: var(--highlightColor);
}
.title{
    font-weight: bold;
}