.Section{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.Section_Title{
    font-weight: bold;
    transition: background .25s;
}
.Section_Title:hover{
    background: rgba(0,0,0,.1);
    cursor: pointer;
}
.Section_Title, .Section .post{
    padding: 10px;
    border-radius: 5px;
    border: solid 1px var(--borderColor);
    font-size: 1em;
}

.Section .post{
    padding: 0;
    max-height: 0;
    overflow: hidden;
    margin: 0 30px;
    border: none;
    border-radius: 0;
    transition: max-height .5s, border .5s, padding .5s;
}
.Section .open{
    max-height: 1000px;
    padding: 10px;
    border: solid 1px var(--borderColor);
    border-top: none;
}
.Section .post .title{
    opacity: 1!important;
}

.description{
    font-size: .8em;
    opacity: .5;
}