.Detail-Header{
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.Detail-Header i{
    opacity: .3;
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid var(--highlightColor) 3px;
    border-radius: 5px;
    padding: 5px;
}
.skill svg{
    width: 100px;
}

.skill h4{
    text-transform: uppercase;
    color: var(--highlightColor2);
    margin-top: 5px;
}
.skill h5{
    color: var(--highlightColor2);
    opacity: .6;
}
.meta{
    margin: 5px;
    margin-left: 10px;
}