@import url(./editor.css);
:root{
    --fontStyle: 'Oxanium', cursive;
    --mainColor: #FAFAFA;
    --secundairColor: white;
    --contrastColor: black;
    --highlightColor: #FFD722;
    --borderColor: rgba(0,0,0,.2);
    --maxWidth: 1000px;
    --baseWidth: 90vw;
    --backdrop: rgba(0,0,0,.8);
    --errorColor: #FE3636;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fontStyle);
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--contrastColor);
}

input,
button{
    outline: none;
}

button{
    background: var(--highlightColor);
    border: none;
    padding: 5px 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .25s;
}

button:hover{
    cursor: pointer;
    background: var(--backdrop);
    color: var(--highlightColor);
}