:root{
    --fontStyle: 'Oxanium', cursive;
    --mainColor: #FAFAFA;
    --secundairColor: white;
    --contrastColor: black;
    --highlightColor: #FFD722;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fontStyle);
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}