.Header{
    width: 100%;
    background: var(--secundairColor);
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.13);
    z-index: var(--z-index-1);
}
.Nav{
    padding: 20px 0;
    display: flex;
    align-items: center;
    width: var(--baseWidth);
    max-width: var(--maxWidth);
    position: relative;
}

.Search{
    flex: 1;
    margin-left: 20px;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.Nav input[type="text"]{
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 1.2rem;
}
input::placeholder{
    opacity: .5;
}

.Auth{
    color: var(--highlightColor);
    font-weight: bold;
    cursor: pointer;
}

.Nav button{
    background: transparent;
    border: solid 2px var(--highlightColor);
    border-radius: 5px;
    transition: .25s;
}
.Nav button:hover{
    background: var(--highlightColor);
    color: var(--secundairColor);
}
